.modal{
 
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    border: 1px solid #000;
    border-radius: 3rem;
    box-shadow: 24,
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    h2{
        margin: 0;
        font-size: 48px;
        font-family: 700;
    }
    img{
        width: 1rem;
        height: 1rem;
    }
}
.input{
    width: 90%;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 3rem;
    outline: none;
}
form>p{
    color: gray;
    margin-bottom: 0;
    margin-top: 1rem;
}
.counts{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 20rem;
    button{
        padding: 1rem;
        background-color: #897CFF;
        border: none;
        border-radius: 1.5rem;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
}
.sub_btn{
    width: 100%;
    background-color: #6A62B7;
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 1.1rem 2rem;
    font-size: 24px;
    font-weight: 500;
    margin-top: 1rem; 
    cursor: pointer; 
}